@import url('normalize.css');

/* * {
  box-sizing: border-box;
} */

body {
  font-family: 'Roboto Condensed', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-image: url('../pics/back.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: white;
}


.buttons-box {
  display: flex;
  justify-content: space-between;
}

.fa:hover {
  opacity: 0.6;
}

@media (max-width: 768px) {
  .main-heading {
    font-size: 64px;
  }
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

.modal-content {
  color: black;
}

.callme-wrapper {
  height: auto;
  width: auto;
  padding: 0px;
  margin: 0px;
  border: none;
}
